body {
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    
    height: 75px;
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: flex-end;
    margin-right: 250px
}
    
 .title_buttons {
    padding: 30px 150px;

 }

 .title_buttons button {
    cursor: pointer;
    border: none;
    color: slategrey;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-left: 25px;
 }


 .title_emblemes_and_buttons {
    margin-right: auto;
    padding: 10px 100px;
 }

 .block_boost_up_business {
    width: 100%;
    height: 400px;
    background-color: steelblue;
    border: 1px solid black;
 }

 .boost_up_business_text h1 {
     text-transform: uppercase;
     color: white;
     display: flex;
     align-items: center;
     justify-content: center;
     ;
 }

 .boost_up_business_text h5{
     color: white;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .boost_up_business_inputs_and_button {
     display: flex;
     align-items: center;
     justify-content: center;

 }

 .request {
    color: whitesmoke;
    background-color:orange;
    text-transform: lowercase;
    width: 150px;
    height: 25px;
 }
  
 .image_notebook {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: -13% 44%;   
 }

.block_our_services {
    width: 100%;
    height: 700px;
    background-color: white;
    border: 1px solid black;
 }

 .our_services_text h2{   
    text-align: center;
    margin-top: 13%; 
    text-transform: uppercase;
 }  

 .our_services_text h5{
     text-align: center;
}   
 
.blocks_about_font-awesome_and_fully_responsive {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .font_awesome {
margin-left: auto;
height: 150px;
width: 400px;
} 

.cir_h2 {
    display: flex;
    justify-content: flex-start;
    
} 


 .font_awesome h2{
    text-transform: uppercase;
    margin-right: auto;
    margin-left: none;
}

.fully_responive {
    height: 150px;
    width: 400px;
    margin-right: auto;
    margin-left: auto;
}

.nuts_h2 {
    display: flex;
    justify-content: flex-start;
}
 

.fully_responive h2{
    text-transform: uppercase;
}

.blocks_about_working_contact_and_retpla_ready {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.working_contact {
    width: 400px;
    height: 150px;
    margin-left: auto;
}

.hat_graduation {
    display: flex;
    justify-content: flex-start;
}


.retpla_ready {
    width: 400px;
    height: 150px;
    margin-right: auto;
    margin-left: auto;
}

.rockets_h2 {
    display: flex;
    justify-content: flex-start;
}

a {
    text-decoration: none;
    color: black;  
}

.block_about_us {
    width: 100%;
    height: 450px;
    background-color:orange;
    border: 1px solid black;
}
.block_about_us_picture {
    margin-right: auto;
}

.block_about_us_text {
    width: 500px;
    height: 150px;
    margin-right: auto;
    margin-bottom: 10%;
    color: rgb(255, 255, 255);
    
}

.block_about_us_picture_and_text {
    height: 450px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.block_about_us_text h2 {
    text-transform: uppercase;
    
}

.block_about_us_text h5 {
    
    line-height: 20px;
}

.block_about_us_text button {
    cursor: pointer;
    border: 2px solid black;
    color: white;   
    text-transform: uppercase;
    margin-left: 25px;
    background-color: orange;
    width: 125px;
    height: 40px;
}

.block_of_price {
    width: 100%;
    height: 800px;
    background-color:cadetblue;
    border: 1px solid black;
}

.block_of_price_text {
    text-align: center;
    margin-top: 100px;
}

.block_of_price_text h2 {
    text-transform: uppercase;
    font-size: 30px;
}

h5 {
    font-size: 15px;
    letter-spacing:0,5px;
}
.price_blocks {
    display: flex;
    justify-content: center;
    align-items: center;
}

.basic_plan_block {
    width: 300px;
    height: 400px;
    background-color: rgb(243, 236, 236);
    text-align: center;
    color: rgb(117, 113, 111);
    text-transform: uppercase;
}

.buttons_price_blocks{
    cursor: pointer;
    border: 2px solid black;
    color: white;   
    text-transform: uppercase;
    background-color: orange;
    width: 125px;
    height: 40px;  
    
}

.style_price_for_basic_and_gold {
    color: rgb(223, 157, 35);
    font-size: 250%;
    margin-bottom: 0%;
}

.pre_month {
    margin-top: 0%;
    font-size: 75%;
}

.premium_plan_block {
    width: 350px;
    height: 500px;
    background-color: rgb(58, 90, 138);
    text-align: center;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    
    
}
.text_for_premium_block{
    margin: 20%;
}
.price_42{
    font-size: 250%;
    margin-bottom: 0%;
}
.gold_plan_block {
    width: 300px;
    height: 400px;
    background-color: rgb(243, 236, 236);
    text-align: center;
    color:   rgb(117, 113, 111);
    text-transform: uppercase;
}

hr {
    margin: 0%;
    width: 75%;
    margin-left: 10%;
}

.block_how_it_works {
    width: 100%;
    height: 800px;
    background-color: white;
    border: 1px solid black;
}

.text_how_it_works {
    text-align: center;
margin-top: 5%;
}

.text_how_it_works h2{
text-transform: uppercase;
font-size: 30px;
}

.work_steps {
    display: flex;
    justify-content:  space-between;
    align-items: center;
    margin: 0 10%;
    
}

.step_1 {
    width: 300px;
    height: 400px;
    align-items: center;
    justify-content: center;
}

.step_2 {
    width: 300px;
    height: 400px;
    align-items: center;
    justify-content: center;
}

.step_3{
    width: 300px;
    height: 400px;
    align-items: center;
    justify-content: center
}

.step_4{
    width: 300px;
    height: 400px;
    align-items: center;
    justify-content: center;
}

.arrow{
    margin-bottom: 30%;
}

.arrow180{
    margin-top: 20%;
}

.work_steps h2{
    text-transform: uppercase;
    text-align: center;
}

.work_steps_pictures{
    text-align: center
}

.button_for_works {
    display: flex;
    justify-content: center;
}

.button_for_works button{
    cursor: pointer;
    border: 2px solid black;
    color: white;   
    text-transform: uppercase;
    background-color: orange;
    width: 200px;
    height: 50px;  
}

.block_happy_clients {
height: 1000px;
width: 100%;
background-color: rgb(255, 166, 0);
border: 1px solid black;
}

.text_happy_clients {
    text-align: center;
    margin-top: 5%;
    color: rgb(255, 255, 255);
}

.text_happy_clients h2 {
    margin: 0%;
    text-transform: uppercase;
    font-size: 30px;
}

.comments_clients_1_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.happy_comments_client_1 {
    width: 600px;
    height: 250px;
    background-color: rgb(255, 255, 255);
    margin-right: 1%;
}

.happy_comments_client_2 {
    width: 600px;
    height: 250px;
    background-color: rgb(255, 255, 255);
    margin-left: 1%;
}

.comments_clients_3_4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}

.happy_comments_client_3 {
    width: 600px;
    height: 250px;
    background-color: rgb(255, 255, 255);
    margin-right: 1%;
}

.happy_comments_client_4 {
    width: 600px;
    height: 250px;
    background-color: rgb(255, 255, 255);
    margin-left: 1%;
}

.photo_client_1 {
    border-radius: 150px;
}
.happy_comments_client_1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.block_for_photo_client_1 {
    width: 200px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
}

.text_client_1 sub {
    font-size:  30px;
    color: rgb(128, 128, 128);
}

.text_client_1 sup {
    font-size: 30px;
    color: rgb(128, 128, 128);
}

.text_client_1 {
    text-align: left;
    margin-left: 5%;
}

.color_name_client {
    color: red;
    text-transform: uppercase;
}

.name_client {
    color:  rgb(128, 128, 128);
    text-transform: uppercase;
}

.happy_comments_client_2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.block_for_photo_client_2 {
    width: 200px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
}

.photo_client_2 {
    border-radius: 150px;
}

.text_client_2 
{
    text-align: left;
    margin-left: 5%;
}

.text_client_2 sub {
    font-size:  30px;
    color: rgb(128, 128, 128);
}

.text_client_2 sup {
    font-size: 30px;
    color: rgb(128, 128, 128);
}

.happy_comments_client_3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.block_for_photo_client_3 {
    width: 200px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
}

.photo_client_3 {
    border-radius: 150px;
}

.text_client_3 
{
    text-align: left;
    margin-left: 5%;
}

.text_client_3 sub {
    font-size:  30px;
    color: rgb(128, 128, 128);
}

.text_client_3 sup {
    font-size: 30px;
    color: rgb(128, 128, 128);
}

.happy_comments_client_4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.block_for_photo_client_4 {
    width: 200px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
}

.photo_client_4 {
    border-radius: 150px;
}

.text_client_4 
{
    text-align: left;
    margin-left: 5%;
}

.text_client_4 sub {
    font-size:  30px;
    color: rgb(128, 128, 128);
}

.text_client_4 sup {
    font-size: 30px;
    color: rgb(128, 128, 128);
}

.block_newsletter {
    width: 100%;
    height: 1000px;
}

.text_newsletter {
    text-align: center;
    margin-top: 5%;
    color: rgb(0, 0, 0)
}

.text_newsletter h2 {
    margin: 0%;
    text-transform: uppercase;
    font-size: 30px;
}

.button_for_search {
    display: flex;
    align-items: center;
    justify-content: center;
}

 input[name="email_adress"]{
    width:20%;
    height:25px;
    margin-left:1%;
 }

 input[name="name"]{
    width:10%;
    height:25px;
 }

 .search_now {
    margin-left: 1%;
    width: 20%;
    height: 35px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 166, 0) ;
    text-transform: uppercase;
 }
 .map_access {
height: 600px;
width: 100%;
background: url("../img/map.jpg");
background-size: contain;
background-repeat: no-repeat;
background-position: center;
margin-top: 1%;
display: flex;
align-items: center;
justify-content: center;
 }

 .circle {
    width: 200px; /* задаете свои размеры */
    height: 200px;
    overflow: hidden;
    background: rgb(2, 28, 39);
    padding: 1%; /* создание отступов */
    border-radius: 50%;
    text-align: center;
 }

 .circle p {
     color: rgb(255, 255, 255);
     margin: 0%;
     font-size: 15px;  
 }

 .circle h3 {
     color: rgb(255, 255, 255);
     text-transform: uppercase;
     margin-top: 20%;
 }

 .color_info {
     color: rgb(255, 217, 1);
 }

 .bottom_button {
     display: flex;
     justify-content: center;
     margin-top: 5%;
     
 }

.bottom_button button
 {
    cursor: pointer;
    border: none;
    color: slategrey;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-left: 25px;
 }

 .phone_number {
     display: flex;
     align-items: center;
     justify-content: center;
     margin-top: 1%;
     margin-bottom: 0%;
 }

 .social {
     display: flex;
     justify-content: center;
     align-items: center;
 }